<ul>
    <li class="list-unstyled">
        <a class="btn d-md-block btn-outline-primary btn-sm mb-2" href="{{ path('app_home') }}"> Accueil </a>
    </li>
    <li class="list-unstyled">
        <a class="btn d-md-block btn-outline-primary btn-sm mb-2" href="{{ path('app_lodgings') }}"> Réservez un logement </a>
    </li>
    <li class="list-unstyled">
        <a class="btn d-md-block btn-outline-primary btn-sm mb-2" href="{{ path('app_admin') }}"> Gestion Admin </a>
    </li>
    <li class="list-unstyled">
        <a class="btn d-md-block btn-outline-primary btn-sm mb-2" href="{{ path('app_user') }}"> Mes locations </a>
    </li>
    <li class="list-unstyled">
        <a class="btn d-md-block btn-outline-primary btn-sm mb-2" href="{{ path('app_prices') }}"> Nos tarifs </a>
    </li>
</ul>