{% extends "base.html.twig" %}

{% block title %}Listes des logements{% endblock %}

{% block body %}
    <h2 class="container">
        <span class="float-end">
            <a href="{{ path('app_add_lodging') }}" class="btn btn-success btn-sm">Ajout</a>
        </span>
        Listes des propriétaires</h2>
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="row d-flex flex-row justify-content-center mb-2">
                <div class="alert alert-success">{{ message }}</div>
            </div>
        {% endfor %}
        <ul class="list-group">
            {% for lodging in lodgings %}
                    <li class="list-group-item">
                    <span class="float-end d-flex flex-row justify-content-end">
                        <a href="{{ path('app_add_lodging', {id: lodging.id}) }}"
                           class="btn btn-outline-warning btn-sm">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                       <form action="{{ path('app_del_lodging', {id: lodging.id}) }}" class="ms-2"
                             method="post" onsubmit="return confirm('Etes-vous certain ?')">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete'~lodging.id) }}">
                            <button type="submit" class="btn btn-outline-danger btn-sm">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </form>
                    </span>
                        {{ lodging.id }}. {{ lodging.Name }} --- {{ lodging.idTypelodging.type }}
                    </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}